<div class="contents row">
  <div class="container">
    <h3>質問</h3>
    <%= render "shared/error_messages", model: @question %> 
    <%= render partial: "form", locals: { question: @question } %>
  </div>
</div>