a {
  text-decoration: none;
  color: #0c0c0c;
}

.main{
  justify-content: center;
}

.title-contents {
  display: flex;
  justify-content: center;
  padding: 3vh;
  text-shadow: 0 0 5px rgba(250, 193, 6, 0.9);
}

.service-title {
  font-size: 8vh;
  text-shadow: 0 0 5px rgba(250, 193, 6, 0.9);
  color:#0c0c0c;
}

.QA{
  text-align: center;
}

.flexcontainer{
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-image: image-url('question.png');
}
 
.flexitem{
  width: 30%;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.question-main{
  margin: 10vh 20vw;
}

.question-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px;
  width: 100%;
  background-color:whitesmoke;
}

.more:hover ul.more-list{
  display: block;
}

.arrow-image{
  padding: 16px;
}

.more{
  cursor: pointer;
  text-align: right;
  z-index: 2;
  height: 70px;
  size: 30px;
}

.more-list{
  position: absolute;
  text-align: left;
  width: 50px;
  right: 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.more ul.more-list li a {
  display: block;
}

.more ul.more-list li.list a:hover{
  background-color:yellow ;
  color: black;
}

.more ul.more-list li a {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: 0;
}

.question-contents>.title {
  background-color: rgb(251, 255, 0);
  font-size: 5vh;
  line-height: 1.1;
  font-weight: bold;
}

.question-contents>.subtitle {
  font-size: 3vh;
  margin: 3vh;
  text-decoration: none;
  color: #0c0c0c;
  font-weight: bold;
}

.questions {
  padding: 8px;
  margin: 8px;
  width: 100%;
  max-width: 700px;
  border-bottom: 1px solid black;
  position: relative;
}

.question-title{
  max-width: 700px;
  color: gray;
  padding: 4px;
  font-size: small;
}

.question-text{
  max-width: 700px;
  color: gray;
  padding: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
}

.question-text:hover{
  text-decoration: underline;
}

.question-date{
  max-width: 700px;
  color: gray;
  text-align: right;
}

.user_name{
  max-width: 700px;
  color: gray;

}

footer {
  padding: 10px;
  color: black;
  background-color: yellow;
}

footer p {
  text-align: center;
}
