.show-box{
  color: black;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.box{
  margin: 30px;
  text-align: center;
  background-color: whitesmoke;
  padding: 33px;
  max-width: 100%;
}

.q-title{
  height:30px;
  border-bottom: 1px solid black;
  max-width: 100%;
  letter-spacing : 2px;
  margin: 30px;
  padding-bottom: 40px;
}

.q-name{
  text-align: left;
  font-size: 20px;
  border-bottom: 1px solid black;
  color          : rgba(0, 0, 0, 0.85);
  letter-spacing : 4px;
  text-decoration: none;
}

.q-name:hover{
  text-decoration: underline;
}
.q-text{
  display: flex;
  justify-content: center;
  height:80px;
  bottom: 1px solid black;
}

.user-text{
  display: flex;
  justify-content: center;
  max-width: 100%;
  letter-spacing : 2px;
}

.rr{
  border-bottom: 1px solid black;
  width: 100%;
  padding: 28px 0px;
}

.date{
  text-align: right;
}

.name{
  text-align: right;
}

.container{
  text-align: center;
  padding: 1vh 10vw;
}

.textarea{
    background    : #ffffff;
    border        : 2px solid #999999;
    padding       : 8px; 
    font-size     : 16px;
    border-radius : 4px; 
    color         : #333333;
    font-weight   : bold;
    letter-spacing: .1em;
    line-height   : 19px;
    width: 90vh;
    height: 10vw;
}

.button {
  text-align: center;
  border-radius : 5%;
  font-size     : 10pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #999999;
  color         : #ffff1a;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 6px 6px 3px #666666;
  border        : 2px solid #999999;
  margin-bottom: 30px;
}
.button:hover {
  box-shadow    : none;
  color         : #999999;
  background    : #ffff1a;
}

.answers{
  padding: 40px;
  margin: 30px;
  max-width: 100%;
}

.an4{
  font-size: 5vh;
}
.text{
  display: flex;
  height:30px;
  letter-spacing : 2px;
  margin: 30px;
  padding-bottom: 40px;
}

.g{
  border-bottom: 1px solid black;
  text-align: right;
}

.ac{
  text-decoration: none;
}

.ac:hover{
  text-decoration: underline;
}

.service-title {
  overflow: hidden;
  position: center;
}

.service-title:before,
.service-title:after {
  animation: 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.service-title:before {
  animation-name: service-title-before;
  top: 0;
  bottom: 50%;
}

.service-title:after {
  animation-name: service-title-after;
  top: 50%;
  bottom: 0;
}

@keyframes service-title-before {
  100% {
    transform: translateX(100%);
  }
}

@keyframes service-title-after {
  100% {
    transform: translateX(-100%);
  }
}

.line_button{
  display: flex;
  line-height: 42px;
  color: #6d3701;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
  border-radius: 100px;
  font-weight: bold;
}

.line{
  padding: 1px;
}